{% extends 'base.html' %}

{% block title %}Reset your password{% endblock title %}

{% block content %}
    {% if validlink %}
        <p> Please enter your new password twice. </p>
        <form action="." method ="post">
            {{form.as_p}}
            <p><input type="submit" value="Change my password."></p>
            {% csrf_token %}
        </form>
    {% else %}
        <p> The password reset link is invalid, probably it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock content %}